In [22]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from tqdm import tqdm
import time
import os


headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Whale/2.8.108.15 Safari/537.36'}
# base_url = 'https://finance.naver.com/marketindex/worldDailyQuote.nhn?fdtc=2&marketindexCd=CMDT_CDY&page={}' # 구리
# base_url = 'https://finance.naver.com/marketindex/worldDailyQuote.nhn?fdtc=2&marketindexCd=CMDT_ZDY&page={}' # 아연
# base_url = 'https://finance.naver.com/marketindex/worldDailyQuote.nhn?marketindexCd=CMDT_SI&fdtc=2&page={}' # 은
# base_url = 'https://finance.naver.com/marketindex/worldDailyQuote.nhn?fdtc=2&marketindexCd=CMDT_PDY&page={}' # 납(연)
base_url = 'https://finance.naver.com/marketindex/interestDailyQuote.naver?marketindexCd=IRR_GOVT03Y&page={}' # 국고채 3년

df = pd.DataFrame()

for a in tqdm(range(761)):
    if not a == 0:
        url = base_url.format(a)
        html = requests.get(url, headers = headers).text
        soup = BeautifulSoup(html, 'html.parser')
        table = soup.select('table')
        table_str = str(table)
        df = pd.concat([df, pd.read_html(table_str, header=0)[0]])

df = df.reset_index()
df = df.drop(columns=["index"])
df['날짜'] = pd.to_datetime(df['날짜'], format="%Y.%m.%d")

now = time.strftime('%Y.%m.%d')
df.to_csv('./기초 데이터/{0}.csv'.format(now), encoding='utf-8-sig')

100%|██████████| 761/761 [00:49<00:00, 15.51it/s]

In [50]:
path_dir = os.getcwd() + '\\기초 데이터\\'
file_list = os.listdir(path_dir)

file_list

['2022.06.28.csv',
 'Clarkson 신조선가 지수.xlsx',
 '리튬 가격.csv',
 '미국 10년물 국채 금리 채권 수익율.csv',
 '미국 2년 채권 수익율.csv',
 '미국 소비자물가지수(CPI).csv',
 '미국 연준 금리.csv',
 '한국 3년 국채 금리.csv',
 '한국 경기종합지수.csv',
 '한국 금리.csv',
 '한국 총생산 및 경제성장률(GDP).csv']

In [59]:
df_index = pd.read_csv('{0}한국 3년 국채 금리.csv'.format(path_dir))
df_index['일자'] = pd.to_datetime(df_index['일자'], format="%Y.%m.%d")
df_index = df_index.set_index('일자')

In [ ]:
df_index = df_index.set_index('날짜')
df_index = df_index.drop(columns=['보내실 때', '받으실 때'])

In [41]:
df_index

            파실 때
날짜
2022-06-27  3.56
2022-06-24  3.52
2022-06-23  3.60
2022-06-22  3.52
2022-06-21  3.66
...          ...
2001-01-10  6.14
2001-01-09  6.14
2001-01-08  6.10
2001-01-05  6.19
2001-01-04  6.37

[5320 rows x 1 columns]

In [61]:
monthly_df = df_index.resample(rule='M').mean()

monthly_df

                   금리
일자
1995-05-31  14.818750
1995-06-30  14.581250
1995-07-31  14.092000
1995-08-31  13.126923
1995-09-30  12.818750
...               ...
2022-02-28   2.280000
2022-03-31   2.363810
2022-04-30   2.935714
2022-05-31   3.012857
2022-06-30   3.459412

[326 rows x 1 columns]

In [62]:
monthly_df.to_csv('./기초 데이터/{0}.csv'.format(now), encoding='utf-8-sig')